<link rel="stylesheet" href="/css/home.css">
<h1 class = 'section-title'>
    Codeial / <%= title %>
</h1>


<%if(locals.user){%>
    <div id="user-details">
        <h4>
            User Name : <%= locals.user.name%>
            <br>
            <a href="/users/userPage">Go To Profile</a>
        </h4>
    </div>
    
    <section id = "feed-posts">
        <h2 class = 'section-title'>post something</h2>
        <form action="/posts/create" method = "POST">
            <textarea name="content" id="content" cols="30" rows="3" placeholder="type here ..." required></textarea>
            <input type="submit" value="Post">
        </form>
    </section>
    <div id="posts-list-container">
        <h2 class = 'section-title'>feeds</h2>
        <%- include('_post')%>
    </div>
        
<%}else{%>
    <h4>
        <a href="/users/login">Login</a> <br>
        or <br>
        <a href="/users/create">Register</a>
    </h4>
<%}%>



        