<!-- <link rel="stylesheet" href="/css/layout.css"> -->
<div id="logIn">
    <form action="/users/create-session" method="post">
        <label for="email">Enter Email</label>
        <input type="email" required name = "email" id = "email" placeholder="abc@gmail.com">
        <br>
        <label for="pass">Enter Password</label>
        <input type="password" required name = "password" id = "pass" placeholder="xyz@123">
        <br>
        <button type="submit">Log In</button>
    </form>
    <h4>
        didn't have a account <a href="/users/create">click here to Register</a>
    </h4>
</div>