<!-- <link rel="stylesheet" href="/css/layout.css"> -->
<div id="signup">
    <form action="/users/create-acn" method="post">
        <label for="userName">Enter User name</label>
        <input type="text" name="userName" id="userName" required placeholder="Ayush">
        <label for="email">Enter Email</label>
        <input type="email" required name = "email" id = "email" placeholder="abc@gmail.com">
        <br>
        <label for="pass">Enter Password</label>
        <input type="password" required name = "password" id = "pass" placeholder="xyz@123">
        <br>
        <button type="submit">Register</button>
    </form>
    <h4>
        Already have an Accaunt <a href="/users/login">click here to login</a>
    </h4>
</div>