header{
    width: 95%;
    background-color: #4B0082;
    #cnt{
        display: flex;
        justify-content: space-between;
        color: white;
        font-family: sans-serif;
        border:1px solid black;
        a{
            text-decoration: none;
            color:blanchedalmond;
        }
        #title{
            
            padding: 5px;
        }
        
        #user-signin-signup{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            min-width: 15vw;
            #profile-pic-header{
                height : 2rem;
                width : 2rem;
                
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                }
            }
        }
        
           
    }
}