header{
    width: 95%;
    background-color: #4B0082;
    #cnt{
        display: flex;
        justify-content: space-between;
        color: white;
        font-family: sans-serif;
        border:1px solid black;
        a{
            text-decoration: none;
            color:blanchedalmond;
        }
        #title{
            
            padding: 5px;
        }
        #user-signin-signup{
            padding: 5px;
            
        }
           
    }
}