#login-signup{
    text-align: center;
    width:100%;

}
#section1{
    width: 68%;
}
#user-details{
    border:2px dashed blueviolet;
    text-align: center;
}
#feed-posts{
    border:2px dashed blueviolet;
    text-align: center;
}
#posts-list-container , #user-list-container{
    // border:2px dashed blueviolet;
    // text-align: center; 
    ul{
        li{
            list-style-type: none;
            display: flex;
            flex-direction: column;
            position: relative;
            border:1px solid black;
            padding : 5px;
            margin:3px;
            .userPosted{
                // position:absolute;
                line-height: 6px;
                width: 100%;
                border : dashed violet;
                background-color:lightblue;
                color:black;
                border-width: 2px 0px;
            }
            #postContent{
                margin : 2px 0px ;
                border : 1px solid violet;
                background-color:lightseagreen;
                #addComment{
                    input[type = 'text']{
                        margin:2px;
                        padding : 3px;
                        width:80%;
                        background-color: inherit;
                    }
                    #hidden{
                        display: none;
                    }
                }
                #showComments{
                    border:1px solid black;
                    background-color: lightgreen;
                    color:black;
                }
            }
        }
    }
}
#user-list-container{
    width:28%;
    ul{
        text-align: center;
    }
}