header {
  width: 95%;
  background-color: #4B0082;
}

header #cnt {
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: sans-serif;
  border: 1px solid black;
}

header #cnt a {
  text-decoration: none;
  color: blanchedalmond;
}

header #cnt #title {
  padding: 5px;
}

header #cnt #user-signin-signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  min-width: 15vw;
}

header #cnt #user-signin-signup #profile-pic-header {
  height: 2rem;
  width: 2rem;
}

header #cnt #user-signin-signup #profile-pic-header img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
