body {
  background-color: lightcyan;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body #logIn {
  text-align: center;
  width: 100%;
}

body main {
  min-height: 100%;
  width: 95%;
  display: flex;
  justify-content: space-between;
}

body main .section-title {
  text-align: center;
  background-color: cornflowerblue;
}

body main section {
  margin: 5px 0px;
}
